<div class="player-background">
  <div class="icon text-center">
    <a><i class="fas fa-headphones"></i> I want listen to</a>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <mat-card class="example-card">
          <img mat-card-image src="assets/background/relax.jpeg" alt="relax">
          <mat-card-content>
            <button mat-button (click)="onChangeSongs('Relax')">Relax</button>
          </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
          <img mat-card-image src="assets/background/chillout.jpeg" alt="chillout">
          <mat-card-content>
            <button mat-button (click)="onChangeSongs('Chill out')">Chill out</button>
          </mat-card-content>
        </mat-card>

      </div>
      <div class="col-md-4">
        <mat-card class="example-card">
          <img mat-card-image src="assets/background/edm.jpeg" alt="edm">
          <mat-card-content>
            <button mat-button (click)="onChangeSongs('EDM')">EDM</button>
          </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
          <img mat-card-image src="assets/background/pop.jpeg" alt="pop">
          <mat-card-content>
            <button mat-button (click)="onChangeSongs('Pop')">US POP</button>
          </mat-card-content>
        </mat-card>

      </div>
      <div class="col-md-4">
        <mat-card class="example-card">
          <img mat-card-image src="assets/background/kpop.jpeg" alt="kpop">
          <mat-card-content>
            <button mat-button (click)="onChangeSongs('Kpop')">Kpop</button>
          </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
          <img mat-card-image src="assets/background/vpop.jpeg" alt="vpop">
          <mat-card-content>
            <button mat-button (click)="onChangeSongs('Vpop')">Vpop</button>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </div>
  <div class="player-music">
    <p>Audioplayer</p>
    Playing: {{currentTrack.name}}
    Category: {{currentTrack.category}}

    <span>
  <button mat-button id="playbutton" (click)="playTrack()"><i class="fas fa-play fa-3x"></i></button>
  <button mat-button id="pausebutton" (click)="pauseTrack()"><i class="fas fa-pause fa-3x"></i></button>
      <button mat-button id="next" (click)="nextTrack()"><i class="fas fa-forward fa-3x"></i></button>
  <button mat-button id="stop" (click)="stopTrack()"><i class="fas fa-stop-circle fa-3x"></i></button>
  <button mat-button id="previous" (click)="previousTrack()"><i class="fas fa-backward fa-3x"></i></button>
  <button mat-button id="10mins" (click)="setPlayTime(600000)">25mins</button>
  <button mat-button id="5mins" (click)="setPlayTime(300000)">5 mins</button>
      <div id="sliders">
      Volume:
        <mat-slider
        min="0"
        max="1"
        step="0.001"
        value="{{audio.volume}}"
        (change)="setVolume($event.value)">
        </mat-slider>
      </div>
    </span>
  </div>
</div>

