<div class="background">
  <video autoplay loop oncanplay="this.muted=true">
    <source src="/assets/video/background.mp4" type="video/mp4">
  </video>
  <div class="content">
    <h1>Leonardo da Vinci</h1>
    <p>Dù chỉ nắm vững một kiến thức nào đó, cũng đều có ích cho trí óc, nó sẽ ném đi những thứ vô dụng nhưng giữ lại
      những thứ có ích.</p>
  </div>
</div>



<span>
  <button mat-button  (click)="onChangeSongs('Relax')">Relax</button>
  </span>

<span>
  <button mat-button  (click)="onChangeSongs('ChillOut')">Chill Out</button>
  </span>

<span>
  <button mat-button  (click)="onChangeSongs('EDM')">EDM</button>
  </span>

<span>
  <button mat-button  (click)="onChangeSongs('POP')">EDM</button>
  </span>


<span>
  <button mat-button  (click)="onChangeSongs('KPOP')">EDM</button>
  </span>


<span>
  <button mat-button  (click)="onChangeSongs('VPop')">EDM</button>
  </span>

<!--<mat-nav-list *ngFor="let track of list">-->
  <!--<a mat-list-item-->
     <!--[class.selected]="track === currentTrack"-->
     <!--(click)="setTrack(track)">{{track.name}}</a>-->
<!--</mat-nav-list>-->

<p>Audioplayer</p>
Playing: {{currentTrack.name}}
Category: {{currentTrack.category}}

<div id="sliders">
  Volume:
  <mat-slider
    min="0"
    max="1"
    step="0.001"
    value="{{audio.volume}}"
    (change)="setVolume($event.value)">
  </mat-slider>
  Progress:

  <mat-slider id="currentTime"
    min="0"
    max="{{audio.duration}}"
    step="0.001"
    value="{{audio.currentTime}}"
    (change)="setProgress($event.value)">
  </mat-slider>
</div>
<span>
  <button mat-button id="play" (click)="playTrack()">Play</button>
  <button mat-button id="pause" (click)="pauseTrack()">Pause</button>
  <button mat-button id="stop" (click)="stopTrack()">Stop</button>
  <button mat-button id="next" (click)="nextTrack()">Next</button>
  <button mat-button id="previous" (click)="previousTrack()">Previous</button>
  <button mat-button id="25mins" (click)="setTime(1500000)">25mins</button>
  <button mat-button id="5mins" (click)="setTime(300000)">5 mins</button>

</span>

