<!--<div class="background">-->
<!--<video autoplay loop oncanplay="this.muted=true">-->
<!--<source src="/assets/video/background.mp4" type="video/mp4">-->
<!--</video>-->


<div class="player-background">
  <div class="icon text-center">
    <a><i class="fas fa-headphones"></i> I want listen to</a>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <mat-card class="example-card">
          <img mat-card-image src="assets/background/relax.jpeg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <button mat-button (click)="onChangeSongs('Relax')">Relax</button>
          </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
          <img mat-card-image src="assets/background/chillout.jpeg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <button mat-button (click)="onChangeSongs('Chill out')">Chill out</button>
          </mat-card-content>
        </mat-card>

      </div>
      <div class="col-md-4">
        <mat-card class="example-card">
          <img mat-card-image src="assets/background/edm.jpeg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <button mat-button (click)="onChangeSongs('EDM')">EDM</button>
          </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
          <img mat-card-image src="assets/background/pop.jpeg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <button mat-button (click)="onChangeSongs('Pop')">US POP</button>
          </mat-card-content>
        </mat-card>

      </div>
      <div class="col-md-4">
        <mat-card class="example-card">
          <img mat-card-image src="assets/background/kpop.jpeg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <button mat-button (click)="onChangeSongs('Kpop')">Kpop</button>
          </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
          <img mat-card-image src="assets/background/vpop.jpeg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <button mat-button (click)="onChangeSongs('Vpop')">Vpop</button>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </div>
</div>
<!--<mat-nav-list *ngFor="let track of list">-->
<!--<a mat-list-item-->
<!--[class.selected]="track === currentTrack"-->
<!--(click)="setTrack(track)">{{track.name}}</a>-->
<!--</mat-nav-list>-->

<p>Audioplayer</p>
Playing: {{currentTrack.name}}
Category: {{currentTrack.category}}

<!--<div id="sliders">-->
  <!--Progress:-->
  <!--<mat-slider id="currentTime"-->
              <!--min="0"-->
              <!--max="{{audio.duration}}"-->
              <!--step="0.001"-->
              <!--value="{{audio.currentTime}}"-->
              <!--(change)="setProgress($event.value)">-->
  <!--</mat-slider>-->
<!--</div>-->

<div class="playpause">
  <input type="checkbox" value="None" id="playpause" name="check"/>
  <label for="playpause">
  </label>
</div>

<span class="player-icon">
<!--<button mat-button id="play" (click)="playTrack()">Play</button>-->
  <!--<button mat-button id="pause" (click)="pauseTrack()">Pause</button>-->
<button mat-button id="stop" (click)="stopTrack()"><i class="far fa-stop-circle fa-3x"></i></button>
<button mat-button id="next" (click)="nextTrack()"><i class="fas fa-step-forward fa-3x"></i></button>
<button mat-button id="previous" (click)="previousTrack()"><i class="fas fa-step-backward fa-3x "></i></button>
<button mat-button id="25mins" (click)="setTime(1500000)">25mins</button>
<button mat-button id="5mins" (click)="setTime(300000)">5 mins</button>
   Volume:
    <mat-slider
      min="0"
      max="1"
      step="0.001"
      value="{{audio.volume}}"
      (change)="setVolume($event.value)">
    </mat-slider>
</span>


<!--<div>-->
<!--<a href="#" (click)="stopTrack()">-->
<!--<i class="far fa-stop-circle"></i>-->
<!--</a>-->
<!--</div>-->
<!--<div>-->
<!--<a href="#" (click)="nextTrack()">-->
<!--<i class="fas fa-step-forward"></i>-->
<!--</a>-->
<!--</div>-->
<!--<div>-->
<!--<a href="#" (click)="previousTrack()">-->
<!--<i class="fas fa-step-backward"></i>-->
<!--</a>-->
<!--</div>-->




